name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14"
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          if [ -f requirements_test.txt ]; then pip install -r requirements_test.txt; fi
          pip install ruff==0.9.7 mypy==1.15.0 pytest==8.3.4 pytest-asyncio==0.25.3 pytest-homeassistant-custom-component==0.13.316 pytest-cov==6.0.0 voluptuous==0.15.2 aiohttp==3.11.12
      - name: Run Ruff
        run: ruff check .
      - name: Run Mypy
        run: mypy custom_components/foodsharing
      - name: Run Tests
        run: pytest --cov=custom_components.foodsharing tests/

  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: HACS validation
        uses: hacs/action@22.5.0
        with:
          category: integration
      - name: Hassfest validation
        uses: home-assistant/actions/hassfest@1.0.0
